body {
    background-color: darkslategray;
}

h1 {
    font-size: 24px;
    color: blue;
    background-color: yellow;
}

#laby table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid black;
}