body {
    background-color: white;
}

.header {
    text-align: center;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    color: brown;
}

.content {
    /* Englobe l'ensemble des questions. */
    margin: 5px;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.content fieldset {
    margin-bottom: 10px;
    padding: 1em;
    background-color: antiquewhite;
    border: 1px solid darksalmon;
    border-radius: 4px;
}

.content legend {
    background-color: ivory;
    border: 1px solid darksalmon;
    border-radius: 3px;
    padding: 3px;
}

.content .questnum {
    font-weight: bold;
    color: brown;
} 

.content .questtext {
    color: brown;
}

.question hr {
    border-top: 2px dashed darksalmon;
    border-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.question .questtitre {
    margin-bottom: 1em;
}

.content pre {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.choices2,.choices3,.choices4 {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.choices2 {
    grid-template-columns: repeat(2, 1fr);
}

.choices3 {
    grid-template-columns: repeat(3, 1fr);
}

.choices4 {
    grid-template-columns: repeat(4, 1fr);
}

.choice {
}

.question {
    margin-bottom: 10px;
    column-count: 1;
    padding: 5px;
}

.reinit {
    float: right;
}

.reinit input[type=button] {
    background-color: Transparent;
    color: darksalmon;
    border: solid darksalmon 1px;
    border-radius: 4px;
}

.envoi {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.envoi input[type=button] {
    float: left;
    margin: 1em;
    padding: 1ex;
    border-radius: 4px;
    border: solid darksalmon 2px;
    color: black;
    background-color: antiquewhite;
}

.modal-fond {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-boite {
    background-color: #88EE88;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid darkgreen;
    width: 60%;
    text-align: center;
    font-weight: bold;
}

.modal-close {
    color: darkgreen;
    position: relative;
    float: right;
    left: 20px;
    top: -24px;
    font-size: 24px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}
