h1 {
    font-size: Large;
    color: red;
    text-align: center;
}

fieldset {
    background-color: lightsalmon;
    margin: auto;
    width: 80%;
}

legend {
    color: navy;
    font-style: italic;
}

div {
    margin: auto;
    width: 80%;
}

.message {
    border: 1px solid black; 
    font-size: large;
}
