body {
    background-color: white;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    color: darksalmon;
    text-align: center;
}

form {
    /* On souhaite que le formulaire n'occupe pas la totalité de la largeur de*/
    /* la page web et soit centrée sur celle-ci */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    margin-bottom: 1em;
    padding: 1em;
    background-color: antiquewhite;
    border: 1px solid darksalmon;
    border-radius: 4px;
}

legend {
    background-color: ivory;
    border: 1px solid darksalmon;
}

.nullrep {
    /* Utilisé pour l'item "Je ne sais pas" dans une question pour laquelle il*/
    /* n'y a qu'une seule réponse, puisqu'il n'est pas possible de décocher un*/
    /* bouton radion une fois que l'un d'eux a été sélectionné */
    color: brown;
    font-weight: bold;
}
